<notifier-container></notifier-container>
<form [formGroup]="myForm" class="container-fluid" style="justify-content: center">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Consulta de crédito</h4>
          <p class="card-category">Informe os dados para consulta da proposta.</p>
        </div>
        <div class="card-body" class="col-md-12 row">
          <div class="form-group col-md-4">
            <label for="cpf">CPF</label>
            <input type="text" mask="000.000.000-00" class="form-control" id="cpf" placeholder="Digite seu CPF"
              formControlName="cpf" required #cpf>
          </div>

          <div *ngIf="resposta != null" class="form-group col-md-12 row">
            <h6 class="col-md-12" >CPF : {{ resposta.cpf }}</h6>
            <h6 class="col-md-12">STATUS : {{ resposta.status }}</h6>
            <h6 class="col-md-12">DESCRIÇÃO : {{ resposta.descriptionResult }}</h6>
          </div>
        </div>
        <div class="card-action">
          <button class="btn btn-danger" (click)="cancel()">Cancelar</button>
          <button class="btn btn-success" (click)="findResponseProposal()">Consultar</button>
        </div>
      </div>
    </div>
  </div>
</form>